<div
  id="terminal"
  class="bg-zinc-950 text-green-400 p-4 lg:p-8 fixed inset-0 z-100 font-mono select-none hidden"
>
  <pre id="output"></pre>
  <span id="cursor">█</span>
  <!-- <div class="flex justify-center items-center text-9xl">
    Yannick Mehdi de Viguerie
  </div> -->
</div>

<style>
  #cursor {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  #terminal {
    transition:
      opacity 0.7s ease,
      transform 0.7s ease;
  }

  .fade-out {
    opacity: 0;
    transform: scale(1.01);
    pointer-events: none;
  }
</style>

<script>
  const message = `> Initialisation...
> Chargement du portfolio...`;

  const output = document.getElementById("output");
  const terminal = document.getElementById("terminal");

  let i = 0;

  // Check if the intro has already been seen
  const seen = localStorage.getItem("introSeen");
  const INTRO_DURATION = 1000 * 60 * 60 * 24 * 7;

  if (seen && Date.now() - Number(seen) < INTRO_DURATION) {
    terminal?.remove();
    // Juste avant le dispatchEvent dans les deux endroits où tu l'appelles
    (window as any).__introFinished = true;
    window.dispatchEvent(new Event("introFinished"));
  } else {
    terminal?.classList.remove("hidden");
    type();
  }

  function closeIntro() {
    terminal?.classList.add("fade-out");

    terminal?.addEventListener(
      "transitionend",
      () => {
        localStorage.setItem("introSeen", Date.now().toString());

        terminal?.remove();
        // Juste avant le dispatchEvent dans les deux endroits où tu l'appelles
        (window as any).__introFinished = true;
        window.dispatchEvent(new Event("introFinished"));
      },
      { once: true },
    );
  }

  // Type the message
  function type() {
    if (!output) return;

    if (i < message.length) {
      output.textContent += message[i];
      i++;

      setTimeout(type, 30);
    } else {
      setTimeout(closeIntro, 500);
    }
  }
</script>
