---
import NavBar from "../components/NavBar.astro";
---

<header
  class="wrapper sticky top-0 z-50 flex items-center justify-between py-4"
>
  <NavBar />
  <h1 class="text-3xl">XYZ.dev</h1>
  <div class="space-x-4 flex items-center">
    <a
      href="home"
      class="text-sm text-zinc-400 hover:text-white transition-colors duration-200"
      >Home</a
    >
    <a
      href="Contact"
      class="text-sm text-zinc-400 hover:text-white transition-colors duration-200"
      >Contact</a
    >
  </div>
</header>
